<div class="post-container">
  <h2>
    {{ .Date.Format "Jan 2006" }} -
    <a href="{{.Permalink}}">{{ .Title }}</a>
  </h2>
  {{ if .Params.image }}
  <img src="{{ .Params.image }}" class="img-title" />
  {{ end }}
  <br>
  <div class="read-more">
    <table style="width:100%;"><tr><td style="text-align:left;">
      {{ if .Params.image_credits }}
      Image credits: {{ .Params.image_credits | markdownify }}
      {{ end }}
    </td><td style="text-align:right;">
      <a alt="{{.Title}}" href="{{.Permalink}}" />
      {{ partial "svg" (dict "iconName" "read" "size" "18px")}}
      Read more</a>
    </td></tr></table>
  </div>
</div>
