<div class="post-container">
  <h2>
    {{ .Date.Format "Jan 2006" }} - 
    <a href="{{.Permalink}}">{{ .Title }}</a>
  </h2>
  {{ if .Params.image }}
  <img src="{{ .Params.image }}" class="img-title" /><br>
  {{ end }}
  <p>{{ .Summary }}</p>
  <div class="read-more">
    <a alt="{{.Title}}" href="{{.Permalink}}" />{{ partial "svg" (dict "iconName" "read" "size" "18px")}}
    Read more</a>
  </div>
</div>
