{{ partial "header" .}}

  <h1 id="title"> {{ .Title }}</h1>
  <p>{{ .Content }}</p>
  <ul id="list">
    {{ range .Pages }}
    {{ partial "post/item" .}}
    {{ end }}
  </ul>

{{ partial "footer" .}}
