{{ partial "header" .}}

<h1>{{ .Title | markdownify }}</h1>

<br>

{{ if .Params.image }}
<img src="{{ .Params.image }}">
{{ if .Params.image_credits }}
<p style="text-align:right;">
  Image credits: {{ .Params.image_credits | markdownify }}
</p>
{{ end }}
{{ end }}

<br><br>

{{ .Content | markdownify }}


{{ partial "footer" .}}
