{{ partial "header" .}}

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

<h2 style="color:red;">Experience</h2>
  {{ $pages := where site.Pages "Type" "in" "experiences" }}
  {{ range $pages }}
  {{ if ne .Kind "section" }}
      {{ partial "post/homeitem" .}}
  {{ end }}
  {{ end }}

{{ partial "footer" .}}
